body{
    padding: 0;
    margin: 0;
  }
  
  /* coba */
  .logo img{
    width: 5.5rem;
  }
  
  nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    background-color: gold;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav a {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: white;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .main {
    padding: 20px;
  }
  
  .main img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }


  .items{
    background-color: rgb(48, 48, 48);
    padding-top: 2rem;
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
  }
  
  .images img{
    width: 880px;
    height: 500px;
  }
  
  .image{
    display: none;
  }
  
  .active{
    display: block;
  }
  
  .action{
    position: absolute;
    z-index: 1;
  }
  
  .items a{
    visibility: hidden;
    font-size: smaller;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 8px 13px 0px  rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px;
    text-decoration: none;
  }
  
  .items .left {
    left: 20px;
    background-color: gold;
  }
  
  .items .right{
    right: 20px;
    background-color: gold;
  } 



  @media only screen and (max-width: 800px) {
    /* konten */
    
    .items{
      align-items: center;
      width:100%;
      padding-right: 1rem;
  
    }
    .images img{
      margin-left: 27%;
      margin-right: 27%;;
      width:50%;
      height:auto;
    }

  }