.header{
    left: 0;
    background: #FFC947;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    top: 0;
    z-index: 99;
    position: fixed;
    
  }
  .header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }
  .logo{
    text-transform: uppercase;
    font-size: larger;
  }

  .nav{
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
    text-transform: uppercase;
    font-size: larger;
  }

.white-jewelry{
    margin-top: 15px;
}
.white-jewelry strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.white-jewelry{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.white-jewelry strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}
.product-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}
.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}

.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: none;
    animation: fade 0.3s;
 
}
.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
}
.product-box:hover .add-cart{
    display: flex;
}
.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.konten{
    position: absolute;
    margin-top: 20px;
    top: 50%;
    left: 5px;
    right: 5px;
    background: gold;
    transform: translateZ(200px)scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
    transform-style: preserve-3d;
  }
  .konten h2{
    text-align: center;
  }
  .box:hover .konten{
    transform: translatez(200px) scaleY(1);
  }